@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% { 
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
  }
#back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
#greensplit {
    position: absolute;
    top: 0;
    left: 0;
    width: 32%;
    height: 100vh;
    background-color: #BCD5BF;
}
#flowers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(./FlowersandStuff-01.png);
}
#flowers:active {
  background-image: none;
}
#biggrid {
    width: 93%;
    height: 90vh;
    background-color: rgb(129, 129, 129, 0.001);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#topgrid {
    width: 100%;
    height: 12vh;
    background-color: rgb(177, 177, 177, 0.001);
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#logosquare {
  display: flex;
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    border-radius: 7px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 63px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    align-items: center;
    justify-content: center;
}
#logo {
  background-color: none;
  width: 60px; 
  border-radius: 7px;
  transition: ease-in 0.2s;
  z-index: 1000;
  padding: 3px;
}
#logo:hover {
  margin-top: -5%;
  transition: ease-in 0.2s;
  cursor: pointer;
  box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
}
#logo:active {
  box-shadow: none;
  margin-top: 0;
}
#settings {
  display: none;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 25px;
  font-family: 'Barlow', sans-serif;
}
.expandhoriztranslatelogo {
  transition: ease-in 0.5s;
  width: 320%;
}
.closedhoriztranslatelogo {
  transition: ease-in 0.5s;
  width: 100%;
}
#expandthelogo {
  position: absolute;
  display: flex;
  left: 0px;
  height: 100%;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
  transition: ease-in 0.3s;
  align-items: center;
  justify-content: center;
}
#dotsquare {
    position: relative;
    display: flex;
    width: 90px;
    height: 90px;
    margin: 0;
    top: 50%;
    left: 163px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    border-radius: 7px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
}
#dots:hover {
    transform: rotate(90deg);
    transition: ease-out 0.4s;
    cursor: pointer;
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
}
#dots {
    transition: ease-in 0.2s;
    z-index: 1000;
    padding-bottom: 2px;
    padding-top: 2px;
}
#dots:active {
    box-shadow: none;
    margin-top: 11%;
}
.expandhoriztranslate {
    transition: ease-in 0.3s;
    width: 320%;
}
.closedhoriztranslate {
    transition: ease-in 0.3s;
    width: 100%;
}
#expandthedots {
    position: absolute;
    display: flex;
    left: 0px;
    height: 100%;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    transition: ease-in 0.3s;
    align-items: center;
    justify-content: center;
}

.customizefadein {
    animation: fadeIn ease 1.5s;
}
.customizefadeout {
    animation: fadeOut ease 0.7s;
}
#customize {
    display: none;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
}
#clocksquare {
  position: absolute;
  display: flex;
  width: 200px;
  height: 90px;
  margin: 0;
  top: 5px;
  right: 5.5%;
  background-color: rgb(231, 231, 231);
  box-shadow: 3px 4px 15px rgb(98, 98, 98, 0.36);
  border-radius: 7px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
#clocksquare:hover {
  transition: ease-in;
  box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.36);
}
#clock {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 4px;
  font-family: 'Barlow', sans-serif;
}
#clock:hover {
  cursor: pointer;
}
#bodygrid {
    width: 100%;
    height: 72vh;
    background-color: rgb(177, 177, 177, 0.001);
    margin: 0;
    position: absolute;
    top: 56%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#leftopbodygrid {
    width: 49.3%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    border-radius: 7px;
    margin: 0;
    position: absolute;
    top: 21vh;
    left: 26%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-family: 'Barlow', sans-serif;
}
#temp {
  color: #9bc7c3;
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 45px;
  font-weight: 600;
}
#desc {
  color: #02385a;
  margin-top: -50px;
  padding-left: 20px;
  font-size: 35px;
  font-weight: 200;
}
#date {
  position: absolute;
  bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
}
#wicon {
  position: absolute;
  top: 30px;
  right: 35px;
  width: 80px;
  height: 80px;
}
#leftbottombodygrid {
    width: 49.3%;
    height: 18vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    border-radius: 7px;
    margin: 0;
    position: absolute;
    top: 74%;
    left: 26%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#leftbottomrightbodygrid {
    width: 40.8%;
    height: 18vh;
    background-color: rgb(233, 233, 233);
    box-shadow: none;
    border-radius: 0px 7px 7px 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 79.7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#rightbodygrid {
    width: 29.3%;
    height: 64vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 20px rgb(98, 98, 98, 0.16);
    border-radius: 7px;
    margin: 0;
    position: absolute;
    top: 46%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}